
    #########################################

    # for TODO: inlcude normalization

    #########################################

In [1]:
def preprocessing(data):
    # TODO: this implementation is only suited to process train_FD001 
    df=data.drop([26,27], axis=1)
    df.name = "train_FD001"
    # define header
    header_txt = ["unit_number","time_cycle", "setting_1", "setting_2", "setting_3",
                "sensor_1", "sensor_2", "sensor_3","sensor_4","sensor_5","sensor_6", "sensor_7", "sensor_8", "sensor_9", 
                "sensor_10", "sensor_11", "sensor_12", "sensor_13", "sensor_14", "sensor_15", "sensor_16", "sensor_17", 
                "sensor_18", "sensor_19", "sensor_20", "sensor_21"] 
    df.columns = header_txt # add header to datafile

    remaining_names = ['sensor_3', 'sensor_4', 'sensor_7', 'sensor_11', 'sensor_12']
    sensor_names = ['sensor_{}'.format(i+1) for i in range(0,21)]
    # remove unused sensors
    drop_sensors = [element for element in sensor_names if element not in remaining_names]
    X_train_pre = df.drop(drop_sensors, axis=1)

    return X_train_pre

In [28]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [7]:
 # loading the data
data_path= "../CMAPSSdata/train_FD001.txt"
df = pd.read_csv(data_path,sep=" ",header=None)
df_input = preprocessing(data=df)
print("input_shape: ",df_input.shape)

input_shape:  (20631, 10)

In [8]:
df_input.head()

,unit_number,time_cycle,setting_1,setting_2,setting_3,sensor_3,sensor_4,sensor_7,sensor_11,sensor_12
0,1,1,-0.0007,-0.0004,100.0,1589.70,1400.60,554.36,47.47,521.66
1,1,2,0.0019,-0.0003,100.0,1591.82,1403.14,553.75,47.49,522.28
2,1,3,-0.0043,0.0003,100.0,1587.99,1404.20,554.26,47.27,522.42
3,1,4,0.0007,0.0000,100.0,1582.79,1401.87,554.45,47.13,522.86
4,1,5,-0.0019,-0.0002,100.0,1582.85,1406.22,554.00,47.28,522.19

In [31]:

features=list(df_input.columns[2:-1])

min_max_scaler = MinMaxScaler(feature_range=(0,1))
df_input[features] = min_max_scaler.fit_transform(df_input[features])
df_input.head()

#plt.plot(df_input.iloc[:,1],df_input.iloc[:,2])

,unit_number,time_cycle,setting_1,setting_2,setting_3,sensor_3,sensor_4,sensor_7,sensor_11,sensor_12
0,1,1,0.459770,0.166667,0.0,0.406802,0.309757,0.726248,0.369048,521.66
1,1,2,0.609195,0.250000,0.0,0.453019,0.352633,0.628019,0.380952,522.28
2,1,3,0.252874,0.750000,0.0,0.369523,0.370527,0.710145,0.250000,522.42
3,1,4,0.540230,0.500000,0.0,0.256159,0.331195,0.740741,0.166667,522.86
4,1,5,0.390805,0.333333,0.0,0.257467,0.404625,0.668277,0.255952,522.19